body {background-color: #121212;
color: white;
font-family: Arial, sans-serif;
margin: 40px;}

h1 {color: #1DB954;font-size: 50px;text-align: center;}

h2 {color: #1DB954;border-bottom: 2px solid #1DB954;padding-bottom: 5px;}

p {font-size: 18px;line-height: 1.5;}

ul {background-color: #222222;padding: 25px 40px;}

li {margin-bottom: 10px;}

a {background-color: #1DB954;
color: black;
padding: 10px;
text-decoration: none;}

img {width: 500px;
max-width: 100%;
display: block;
margin: 25px auto;
border: 3px solid #1DB954;}

strong {color: #1DB954;}

.footer {text-align: center;color: #999999;font-size: 14px;margin-top: 50px;}

h2 {color: #1DB954;
font-size: 30px;
border-bottom: 2px solid #1DB954;
padding-bottom: 5px;}


iframe {display: block;
margin: 25px auto;
border: 3px solid #1DB954;}